<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
		p {
			color: orange
		}
		td {
			text-align: center;
			padding: 5px;
		}
		table {
    	border-collapse: collapse;
			float: right;
		}
		table, tr, td {
			border: 1px solid black;
		}
	</style>
</head>
<body style="margin: 20px 10px;">
	<div style="display: flex; margin-bottom: 20px;">
		<div style="flex: 1; border-bottom: 5px solid black;">
			<h2><%= date %></h2>
		</div>
		<div style="flex: 4; border-bottom: 5px solid black; margin-left: 10px;">
			Invoice No. 
		</div>
	</div>
	<div>
		<div style="flex: 1;">
			<div>
				To<br>
				<p><%= address %></p>
			</div>
			<div>
				Ship To<br>
				<p><%= receiver.toUpperCase() %></p>
			</div>
			<div>
				Instructions<br>
				<p><%= instructions || "" %></p>
			</div>
		</div>
		<div style="flex: 4;">
		</div>
	</div>
	<div style="display: flex">
		<div style="flex: 1;">
		</div>
		<div style="flex: 4;">
			<table>
				<thead>
					<tr>
						<td>Quantity</td>
						<td colspan="3">Description</td>
						<td>Unit Price</td>
						<td>Total</td>
					</tr>
				</thead>
				<tbody>
					<% for(var i = 0; i < items.length; i++){ %>
						<tr>
							<td><%= items[i].details.quantity %></td>
							<td colspan="3"><%= items[i].nameEn %></td>
							<td><%= items[i].price %></td>
							<td><%= items[i].price * items[i].details.quantity %></td>
						</tr>
					<% } %>
					<tr style="height: 25px">
						<td></td>
						<td colspan="3"></td>
						<td></td>
						<td></td>
					</tr>
					<tr style="height: 25px">
						<td></td>
						<td colspan="3"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="4">Subtotal</td>
						<td><%= total %></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="4">Sales Tax</td>
						<td><%= parseInt(total * 0.14) %></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="4">Shipping And Handling</td>
						<td><%= shippingFees %></td>
						<td></td>
					</tr>
					<tr style="border-width: 3px;">
						<td colspan="4">Subtotal</td>
						<td><%= totalPrice + (total * 0.14) %></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<div style="float: right">
				<p>Due upon receipt</p>
				<div>Thank you for your business</div>
			</div>
		</div>
	</div>
	<div>
		<h2 style="color: orange">MadeInEgypt.Com</h2>
		<div style="display: flex">
			<div style="flex: 4; border-top: 2px solid black; border-bottom: 4px solid black;">
				<p>Address: This is a dummy address</p>
				<p>Phone: 011111112222</p>
			</div>
			<div style="flex: 1; border-bottom: 4px solid black;">
				<h1>LOGO HERE</h1>
			</div>
		</div>
	</div>
</body>
</html>